{% extends "otp/base.html" %}
{% load forms_tags %}
{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="otp/stylesheets/dashboard.css" />
{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">
	<li class="page"><a href="/otp/">OTP Dashboard</a></li>
</ul>
{% endblock %}

{% block page_stylesheets %}
<style type="text/css">
.box {
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    border:1px solid black;
}
#branding h1 {
        background:none;
}
</style>
{% endblock page_stylesheets %}

{% block content %}

{% block sub_content %}

<h2>Dashboard</h2>
{% block left %}
<div class="module"><h3>Summary</h3>
    <div style="padding:5px;"> 
        <p>The current weekly report period is:<br/>
        <strong>{{ summary.period }}{{ summary.period.start_date|date:"D d/m/Y" }} - {{ summary.period.end_date|date:"D d/m/Y" }}</strong></p>
        <p><a href="health_units"><strong>{{ summary.otp_sites }}</strong> health units</a> are registered.<br/>
        <a href="health_units/?filter=current"><strong>{{ summary.up2date }}</strong> health unit{{ summary.up2date|pluralize }}</a> ha{{ summary.up2date|pluralize:"s,ve" }} completed the report for this period.<br/>
        <a href="health_units/?filter=missing"><strong>{{ summary.missing }}</strong> health unit{{ summary.up2date|pluralize }}</a> ha{{ summary.up2date|pluralize:"s,ve" }} <strong>not</strong> completed the report for this period.</p>
    </div>
</div>
{% endblock %}


{% block right %}
<div class="module"><h3>Recent Activity</h3>
    <div style="padding:5px;"> 
        {% for report in recent %}
        <strong>{{report.date}}</strong> - <a href="reporter/{{report.by_id}}">{{report.by}}</a> from <a href="health_unit/{{report.clinic_id}}">{{report.clinic}}</a> submitted their <a href="epidemiological_report/{{report.id}}" target="_blank">report.</a><br/>
        {% endfor %}
    </div>
</div>
{% endblock %}


<div style="clear:both;"></div>
<div class="module"><h3>Resources</h3>
    <div style="padding:5px;">
        <p><a href="/static/findug/epi_form_20091027.pdf">HMIS Form 033B SMS (pdf)</a><br/>
        <a href="/static/findug/definitions.pdf">Clinical Definitions (pdf)</a><br/>
        <a href="/static/findug/instructions.pdf">Sending Instructions (pdf)</a><br/>
        <a href="/static/findug/additional_instructions.pdf">Additional Sending Instructions (pdf)</a>
        </p>

    </div>
</div>
<div class="module"><h3>Current Period Reports</h3>
    <div style="padding:5px;">
        <p>
        <a href="report/?r=diseases">Diseases Report</a><br/>
        <a href="report/?r=cases">Malaria Cases Report</a><br/>
        <a href="report/?r=treat">Malaria Treatments Report</a><br/>
        <a href="report/?r=act">ACT Stock Report</a>
        </p>
        <a href="reports/">Create a customised report</a>
        <p>
        {% if not scope.location %}
            {% for district in scope.districts %}
                <a href="/static/findug/reports/{{district}}.pdf">{{district}} individual health unit reports</a><br/>
            {% endfor %}
        {% else %}
            <a href="/static/findug/reports/{{scope}}.pdf">{{scope}} individual health unit reports</a><br/>
        {% endif %}
        </p>
    </div>
</div>

{% endblock sub_content %}
{% endblock content %}
