{% extends "otp/base2.html" %}
{% block subtitle %}Reports{% endblock %}

{% block content %}
<form method="GET" action="/otp/reports.png"
<table>
    <tr>
        <td>Report Type: OTP Chart</td>
        
    </tr>
    <tr>
        <td>Beginning Date:</td>
        <td>
            <select name="start">
                <option value="" selected="selected">----------</option>
                {% for period in periods %}
                    <option value="{{period.id}}">{{period.start_date|date:"D d/m/Y"}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>Ending Date:</td>
        <td>
            <select name="end">
                <option value="" selected="selected">----------</option>
                {% for period in periods %}
                    <option value="{{period.id}}">{{period.end_date|date:"D d/m/Y"}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>Group By:</td>
        <td>
            <select name="grp">
                <option value="healthpost" selected="selected">Health Post</option>
                <option value="woreda">Woreda</option>
                <option value="zone">Zone</option>
                <option value="region">Region</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Select</td>
        <td>
            <select name="hp">
                <option value="6" selected="selected">6</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center"><input type="submit" value="Generate Chart"/></td>
        
    </tr>
</table>

</form>



{% endblock %}
