{% extends "otp/base2.html" %}
{% block subtitle %}{{scope}} {{report_title}}{% endblock %}

{% block javascripts %}
	{{ block.super }}
    <script type="text/javascript" language="javascript" src="/static/otpet/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/otpet/datatables/extras/TableTools/media/ZeroClipboard/ZeroClipboard.js"></script>
    <script type="text/javascript" language="javascript" src="/static/otpet/datatables/extras/TableTools/media/js/TableTools.js"></script>
    <script type="text/javascript" charset="utf-8">
        var oTable;
        var giRedraw = false;

        var TableToolsInit = {
	        "oFeatures": {
		        "bCsv": false,
		        "bXls": false,
		        "bCopy": false,
		        "bPrint": true
	        },
	        "bIncHiddenColumns": false,
	        "sPrintMessage": "",
	        "sTitle": "",
	        "iButtonHeight": 30,
	        "iButtonWidth": 30,
	        "_iNextId": 1 /* Internal useage - but needs to be global */
        };    
        $(document).ready(function() {
            /* Add a click handler to the rows - this could be used as a callback */
            $("#report tbody").click(function(event) {
                $(oTable.fnSettings().aoData).each(function (){
                    $(this.nTr).removeClass('row_selected');
                });
                $(event.target.parentNode).addClass('row_selected');
            });

            /* Init the table */
            oTable = $('#report').dataTable( {
                "sDom": 'T<"clear">lfrtip',
                "iDisplayLength": 50,
                "aoColumns": [ {{aocolumns_js|safe}} ]
            });
        } );

        /* Get the rows which are currently selected */
        function fnGetSelected( oTableLocal )
        {
            var aReturn = new Array();
            var aTrs = oTableLocal.fnGetNodes();
            
            for ( var i=0 ; i<aTrs.length ; i++ )
            {
                if ( $(aTrs[i]).hasClass('row_selected') )
                {
                    aReturn.push( aTrs[i] );
                }
            }
            return aReturn;
        }
    </script>
{% endblock javascripts %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="/static/otpet/datatables/media/css/datatable.css" />
<link type="text/css" rel="stylesheet" href="/static/otpet/datatables/extras/TableTools/media/css/TableTools.css" />
{% endblock stylesheets %}

{% block content %}



<h2>{{report_title}}{% if scope %}: {{scope}}...{% endif %}</h2>
<div><p><strong>Reporting Period:</strong> {{dates.start|date:"D d/m/Y"}} through {{dates.end|date:"D d/m/Y"}}<br/>
</p>
</div>
<table  cellpadding="0" cellspacing="0" border="0" id="report" class="display"> 
    <thead>
    <tr>
    {% for column in columns %}
            {% if sub_columns %}
                {% if column.colspan %}
                    <th colspan="{{column.colspan}}" class="spanned"{% ifequal columns|length 15%} style="font-size:8px"{% endifequal %}>{{column.name}}</th>
                {% else %}
                    <th rowspan="2">{{column.name}}</th>
                {% endif %}
            {% else %}
                <th>{{column.name}}</th>
            {% endif %}
    {% endfor %}
    </tr>
    {% if sub_columns %}
    <tr>
        {% for column in sub_columns %}
            <th>{{column.name}}</th>
        {% endfor %}
    </tr>
    {% endif %}
    
    </thead>
    <tbody> 
        {% for row in rows %}
            <tr{% if not row.complete %} class="inc"{%endif%}>
            {% for cell in row.cells %}
                    <td{% if cell.num %} class="num"{% endif %}{% if forloop.first %} style="white-space:nowrap;"{% endif %}>
                    	{% if cell.link %}<a href="{{cell.link}}">{% endif %}{{cell.value|default_if_none:""}}{% if cell.link %}</a>{% endif %}
                    </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>

</table>
<div style="clear:both;"></div>
<a href="?{{get_vars}}&excel=1"><strong>Download this report as a spreadsheet</strong></a>
{% endblock %}

